.rich-text {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0 0 1.125rem;

    & b {
      font-family: Manrope, sans-serif;
      font-weight: 600;
    }
  }

  h3 {
    margin: 3.75rem 0 1.875rem;

    &::before {
      display: block;
      content: "";
      margin-top: -5.75rem;
      height: 5.75rem;
      visibility: hidden;
    }
  }

  h4 {
    margin: 3.75rem 0 0.625rem;
  }

  ol {
    padding-left: 1.125rem;
    margin-bottom: 1.25rem;
  }

  li {
    font-size: 1.125rem;
    line-height: 1.5;
    padding-left: 0.75rem;

    &:not(:last-of-type) {
      margin-bottom: 1.875rem;
    }
  }

  ul {
    padding-left: 1.125rem;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }

  blockquote {
    font-style: italic;
    margin-left: 2.125rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      max-width: 5px;
      background-color: $color-lightgray;
      left: -2.125rem;
    }
  }
}
