{% set footerLinks = craft.entries().section('footerLinks').all() %}
{% set footerSocials = craft.entries().section('socials').all %}

<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__body">
        {% if footerLinks|length %}
          <ul class="footer__links">
            {% for item in footerLinks %}
              <li class="footer__link">
                <a href="{{ item.linkedEntry.one().getUrl() }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if footerSocials|length %}
        <ul class="footer__socials">
          {% for item in footerSocials %}
            <li class="footer__socials-item">
              <a href="{{ item.href }}" target="_blank">
                {{ svg("@webroot/assets/icons/#{item.title|lower}Footer.svg") }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="footer__copyright">
        <span>© Bestcybersport</span>
        Все права защинены
      </div>
    </div>
  </div>
</footer>
