{% set title = 'Overwatch esport' %}
{% set description = 'Overwatch esports offer something for everyone: wide-ranging tournament series that challenge players of every
        skill level, high-intensity games cast by top announcers, and talented teams from all over the globe.' %}
{% set imageUrl = '../../src/images/heroImage.png' %}

<div class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__body">
        <h1 class="hero__title">
          {{ title }}
        </h1>
        <p class="hero__description">
          {{ description }}
        </p>
      </div>
      <div class="hero__image" style="background-image: url('{{ imageUrl }}')">
      </div>
    </div>
  </div>
</div>
