$base-background: #fafafa;
$dark-background: #222225;
$base-color: #1b1b1b;

$base-font-size: 1.25rem;
$base-font-family: 'Manrope-Regular';
$secondary-font-family: 'RussoOne-Regular';
$base-line-height: 1.5;

$color-white: #fff;
$color-lightergray: #f0f0f0;
$color-lightgray: #c9c9ce;
$color-gray: #a7a7a8;
$color-darkgray: #656565;
$color-blue: #5ba6eb;
$color-yellow: #edc239;
$color-purple: #473453;
$border-color: rgba(255, 255, 255, 0.12);

$container-width: 87.5rem;
