<div class="aside-navigation">
  <div class="aside-navigation__title">
    Содержание
  </div>
{#  <ul>#}
{#    {% for item in asideNavigationItems %}#}
{#    <li class="aside-navigation__item">#}
{#      <a href="{{item.link}}">{{item.title}}</a>#}
{#    </li>#}
{#    {%  endfor %}#}
{#  </ul>#}
</div>
