.aside-navigation {
  &__title {
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1.25rem 3.625rem;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    a {
      color: $base-color;
      font-size: 0.875rem;
      line-height: 1.5;

      &:hover {
        color: $color-blue;
      }
    }

    &_active {
      & > a {
        color: $color-blue;
      }
    }
  }
}
