{% set block = entry.banner %}

<div class="banner">
  <div class="container">
    <div class="banner__container">
      <div class="banner__body">
        <h2 class="banner__title">
          {{ block.bannerTitle }}
        </h2>
        {% if block.bannerBody|length %}
          <p class="banner__description">
            {{ block.bannerBody }}
          </p>
        {% endif %}
      </div>
      <div class="banner__video">
        <iframe src="{{ block.videoLink }}"></iframe>
      </div>
    </div>
  </div>
</div>
