{% set title = 'Посмотри стрим' %}
{% set description = 'Этот человек играет в итересную игру, а вы можете посмотреть видео и тоже потом поиграть' %}
{% set videoUrl = 'https://www.youtube.com/embed/G1IbRujko-A' %}

<div class="banner">
  <div class="container">
    <div class="banner__container">
      <div class="banner__body">
        <h2 class="banner__title">
          {{ title }}
        </h2>
        <p class="banner__description">
          {{ description }}
        </p>
      </div>
      <div class="banner__video">
        <iframe src="{{ videoUrl }}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
