{% set categoriesItems = craft.entries().section('categoriesList') %}

{% if categoriesItems|length %}
  <div class="categories">
    <div class="container">
      <div class="categories__container">
        <ul class="categories__list">
          {% for item in categoriesItems %}
            <li class="categories__list-item">
              <a href="{{ item.linkedEntry.one().getUrl() }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="categories__link-all"><a href="#">Ещё игры...</a></div>
      </div>
    </div>
  </div>
{% endif %}
