@font-face {
  font-display: fallback;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Manrope-Regular.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'Manrope-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Manrope-Medium.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'Manrope-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Manrope-SemiBold.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'RussoOne-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RussoOne-Regular.woff') format('woff');
}
