<div class="rich-text">
  <p>
    Для геймеров и любителей азарта открылась новая линейка развлечений — онлайн ставки на киберспорт. Теперь этот спорт
    стал неотъемлемой частью азартной тематики. Многие букмекеры предлагают сделать ставку на актуальный чемпионат или
    локальный турнир. Этот вид беттинга имеет ряд преимуществ: просмотр событий онлайн, большое количество жанров, много
    проходящих турниров и чемпионатов.
  </p>
  <p>
    Этот вид спорта насыщен взрывным настроением, драйвом и зарядом положительных эмоций.
  </p>
  <h3>
    Киберспорт: как быть в курсе событий?
  </h3>
  <p>
    Чтобы быть в теме, достаточно сыграть в пару-тройку актуальных онлайн игрушек, которые, в основном, free 2 play или
    имеют низкую цену. Если вы не новичок в гейминге, но хотите понять, какие события актуальны или ознакомиться с
    предстоящими матчами — следите за новостными лентами с официальных источников киберспортивных новостей, страниц
    соцсетей или на стриминговых сервисах.
  </p>
  <p>
    Основную информацию про турнирные события и о ближайших чемпионатах можно найти на сайтах БК из нашего списка ТОП.
    Будьте в курсе статистики топ-команд или игроков, чтобы понять, что вас ждет в следующем матче. Не забывайте следить
    за игроками, которые только вошли в ряды киберспорта и постепенно набирают популярность.
  </p>
  <h3>
    Команды в киберспорте
  </h3>
  <p>
    В пик роста киберспорта появилось много перспективных команд со всего мира, которые представляют определенный жанр
    или же выступают как мультигейминговые. Предлагаем поближе познакомиться с командами, которые заслужили особого
    внимания и достигли уважения среди фанатов со всего мира.
  </p>
  <h4>
    Natus Vincere
  </h4>
  <p>
    Киберспортивная мультигейминговая организация из Украины начала свое существование в 2010 году. За один се зон
    ребята успели завоевать 12 медалей, из которых 8 золотых. Компания начала расширять себя в области жанров такими
    играми: Dota2, CS:GO, PUBG (mobile), Apex Legend и Rainbow Six Siege, Starcraft 2, WoT, Hots, Hearthstone, LoL и
    FIFA. Команда Navi решила захватить все топовые игры и быть в них претендентами на лидерство. В основном ребята
    лидируют по играм CS и Dota2.
  </p>
  <img src="../../../src/images/esl_pro_league_twitter.png" alt="">
  <p class="quote">
    <b>Интересно знать:</b> команда Na’vi на чемпионате ESL Pro League по CS побила рекорды по просмотрам фанатов. На первом
    матче собралось более 489 тысяч зрителей.
  </p>
  <h4>
    Team Liquid
  </h4>
  <p>
    Премиальная команда из Европы начала свой путь в 2000 году. Популярна своим мультигейминговым подходом. Парни играют
    и выигрывают в известных киберспортивных дисциплинах. На чемпионате The International в игре Dota сервера не
    выдерживали потоков зрителей, они побили все рекорды этого мероприятия.
  </p>
  <img src="../../../src/images/the_international_dota_2.png" alt="">
  <p>
    Матч Team Liquid vs TNC смотрели более 1,225 миллиона фанатов. А букмекерские конторы не успевали принимать заявки
    на исход поединка. Со списком наград и кубков команда приглашает всех в свой онлайн зал славы.
  </p>
  <h3>
    Турниры и чемпионаты в киберспорте
  </h3>
  <p>
    В киберспорте, как и в классическом спорте, проходят знаменитые чемпионаты, команды получают награды, фанаты
    морально поддерживают спортсменов. Публика следит за всеми событиями и делает прогнозы на киберспорт. Во многих
    странах киберспорт стоит на официальном уровне, а спортивный комитет планирует включить его в олимпиаду 2024 года.
    Да, в этой индустрии турниры проходят часто, но есть более значимые и перспективные события, которых ждут фанаты и
    игроки.
  </p>
  <ol>
    <li>
      League of Legends World Championship — ежегодный чемпионат среди профессиональных спортсменов по Лиге Легенд от
      компании Riot Games. Финал 19 года проходил в Париже. Общий призовой фонд события — 2,2 миллиона долларов.
      Чемпионат транслировали на всех языках мира, а число зрителей на финале — 44 миллиона. Итоговый победитель —
      команда FunPlus Phoenix.
    </li>
    <li>
      StarLadder Berlin Major — пятнадцатый по счету глобальный чемпионат по CS. Призовой фонд события — 1 000 000 USD.
      Победитель в последнем турнире 19 года в Берлине — команда Astralis. Следующий турнир в серии Major будет ESL One:
      Rio 2020. Фанаты с нетерпением ждут и делают прогнозы и ставки на предстоящее мероприятие.
    </li>
    <li>
      The International — самый крупный чемпионат по Dota 2. Событие стартовало в 2011 году при поддержке компании
      Valve. К сожалению, из-за событий, связанных с COVID-19, чемпионат 20 года был перенесен. Последний турнир был в
      19 году в Шанхае с призовым фондом 34 302 501 USD. Чемпионом по этому соревнованию стала команда OG.
    </li>
  </ol>
  <p>
    Следите за последними новостями, чтобы быть в курсе всех предстоящих чемпионатов, турниров и других похожих ивентов.
    БК из нашего списка постоянно обновляют актуальную информацию по киберспорту.
  </p>
  <img src="../../../src/images/lol_world_championship.png" alt="">
  <p class="quote">
    <b>Интересная информация:</b> в чемпионате League of Legends World Championship был приготовлен кубок «Призывателей», который весил 32 кг и был сделан из меди, золота, стекла, олова и серебра. Чемодан для кубка был специально разработан модельным домом Louis Vuitton.
  </p>
  <h3>
    Где смотреть?
  </h3>
  <p>
    Чтобы быть в теме и не пропускать интересные события, следите за новостными лентами из официальных источников киберспорта. Посещайте тематические форумы, заходите на сайты спортивных команд и узнавайте больше полезной информации, которую сможете применить на выгодных ставках. Мы рекомендуем следить за новостями в таких источниках:
  </p>
  <ul>
    <li>
      букмекерские конторы из нашего списка;
    </li>
    <li>
      официальные сайты спортивных команд;
    </li>
    <li>
      новостные ленты спорта или тематических форумов;
    </li>
    <li>
      площадки организаторов турниров;
    </li>
    <li>
      стриминговые сервисы: Youtube, Twitch;
    </li>
    <li>
      социальные сети: Twitter, Facebook, VK, Instagram.
    </li>
  </ul>
</div>
