<div class="socials">
  <div class="socials__title">
    Поделиться в соцсетях
  </div>
  <ul>
    <li>
      <a href="#">
        <svg><use href="#vk" width="30px" height="30px"/></svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg><use href="#facebook" width="30px" height="30px"/></svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg><use href="#telegram" width="30px" height="30px"/></svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg><use href="#viber" width="30px" height="30px"/></svg>
      </a>
    </li>
  </ul>
</div>
