<div class="aside">
  <div class="aside__item">
    {% include "components/aside/aside-navigation/aside-navigation.twig" %}
  </div>
  <div class="aside__item">
    {% include "components/aside/socials/socials.twig" %}
  </div>
</div>
