<div class="aside">
  <div class="aside__item">
    {% include "aside-navigation/aside-navigation.twig" %}
  </div>
  <div class="aside__item">
    {% include "socials/socials.twig" %}
  </div>
</div>
