.aside {
  position: sticky;
  top: 7rem;

  &__item {
    height: fit-content;
    padding: 2.5rem;
    background-color: $color-lightergray;
    border-radius: 12px;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}
