<form action="#" class="search-form">
  <button id="search-button" class="search-form__button search-form__button_search">
    {{ svg('@webroot/assets/icons/searchIcon.svg', class='scheme-stroke') }}
  </button>
  <input type="text" class="search-form__input">
  <button id="close-button" class="search-form__button search-form__button_close">
    {{ svg('@webroot/assets/icons/closeIcon.svg', class='scheme-stroke') }}
  </button>
</form>
